<!-- Title for the ion view -->
<ion-view title="Locais">
  <!-- ======================
  LEFT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END LEFT SIDE BUTTON
  ====================== -->

  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <!-- ======================
  /END RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content feed">

    <!-- ======================
    SEARCH FORM - STANDARD IONIC MARKUP
    ====================== -->  
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Casa da Mãe Joana ou #LGBT">
      </label>
    </div>
    <!-- ======================
    /END SEARCH FORM
    ====================== --> 

    <!-- ======================
    POST - image only
    ====================== --> 
    
    
    <!-- ======================
    POSTER - profile thumb, name and post stats
    ====================== --> 
    <div class="list card">

      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-down"></i>
        Nome do Local - 0,5km
      </a>
      <div class="item item-body">
          <a href="#" class="subdued item item-icon-right">
            <i class="icon ion-minus-round"> 2 &nbsp &nbsp &nbsp &nbsp</i>
            <span class="icon ion-plus-round"> 3 </span>
            Raça
          </a>
          <a href="#" class="subdued item item-icon-right">
            <i class="icon ion-minus-round"> 2 &nbsp &nbsp &nbsp &nbsp</i>
            <span class="icon ion-plus-round"> 3 </span>
            Gênero
          </a>
          <a href="#" class="subdued item item-icon-right">
            <i class="icon ion-minus-round"> 2 &nbsp &nbsp &nbsp &nbsp</i>
            <span class="icon ion-plus-round"> 3 </span>
            Sexualidade
          </a>
      </div>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-down"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-down"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-right">
        <i class="icon ion-chevron-down"></i>
        Enter card information
      </a>

    </div>
    <!-- ======================
    /END POSTER
    ====================== --> 


    </div>
    <!-- ======================
    /END POSTER
    ====================== --> 
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
